workflows/kb_answer_v1.json
[
  {
    "updatedAt": "2025-12-18T15:54:50.979Z",
    "createdAt": "2025-12-17T14:18:50.698Z",
    "id": "8GCA2MiYJ0R64Ort",
    "name": "KB — Answer v1",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "54a8f319-a9ca-4c48-a512-5798dfc908cd",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const qRaw =\n  $json?.input?.question ??\n  $json?.question ??\n  $json?.text ??\n  $json?.telegram?.message?.text ??\n  \"\";\n\nconst question = String(qRaw).trim();\n\nconst chatIdRaw =\n  $json?.meta?.chat_id ??\n  $json?.chat_id ??\n  $json?.telegram?.message?.chat?.id ??\n  $json?.input?.user_id ??\n  null;\n\nconst chat_id = chatIdRaw == null ? null : Number(chatIdRaw);\n\nconst request_id =\n  $json?.meta?.request_id ??\n  $json?.request_id ??\n  null;\n\nreturn {\n  json: {\n    ...$json,\n    question,\n    chat_id: Number.isFinite(chat_id) ? chat_id : null,\n    request_id,\n  },\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "id": "b1643aa8-1ca9-4cba-81a6-d55ef5893452",
        "name": "KB — Input Normalize"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/embeddings",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"={{$json.question}}\"\n}\n",
          "options": {
            "timeout": 6000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          416,
          0
        ],
        "id": "b9537de6-765d-4275-8288-2e7b0bb4e55f",
        "name": "OpenAI — Embeddings (HTTP)",
        "credentials": {
          "openAiApi": {
            "id": "j2qEVgJkVL5JMOK6",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const idx = $itemIndex;\nconst env = $items(\"KB — Input Normalize\")?.[idx]?.json ?? {};\nconst emb = $json.data?.[0]?.embedding;\nif (!emb) throw new Error(\"No embedding in OpenAI response\");\n\nreturn {\n  json: {\n    ...env,\n    query_embedding: emb,\n    meta: {\n      ...(env.meta ?? {}),\n      embedding_model: $json.model ?? \"text-embedding-3-small\",\n    },\n    timers: {\n      ...(env.timers ?? {}),\n      t_after_embed_ms: Date.now(),\n    },\n  },\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          624,
          0
        ],
        "id": "477d7cd1-49b7-4e4f-a967-dac7c116c0a3",
        "name": "KB — Extract Query Embedding"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "with p as (select $1::jsonb as j),\nscored as (\n  select\n    k.chunk_id, k.kb_ref, k.doc, k.section, k.chunk_index, k.content, k.source_url,\n    (k.embedding <-> (p.j->>'query_embedding')::vector) as distance,\n    row_number() over (order by k.embedding <-> (p.j->>'query_embedding')::vector) as rn,\n    coalesce((p.j->'retrieval'->>'top_k')::int, 5) as top_k\n  from public.kb_chunks k\n  cross join p\n  where k.kb_ref = coalesce(p.j->>'kb_ref', 'demo_support')\n)\nselect\n  chunk_id, kb_ref, doc, section, chunk_index, content, source_url,\n  distance,\n  1.0 / (1.0 + distance) as score\nfrom scored\nwhere rn <= top_k\norder by rn;\n",
          "options": {
            "connectionTimeout": 6,
            "queryReplacement": "={{ JSON.stringify($json) }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          832,
          0
        ],
        "id": "2c56964d-1f77-4c1b-b64d-2cb120d71bd5",
        "name": "DB — Retrieve kb_chunks (topK)",
        "credentials": {
          "postgres": {
            "id": "QLUbzmxXFGSZ8LHx",
            "name": "AI_Support_Assistant"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// items = строки из DB (каждая строка — отдельный item)\nconst rows = items\n  .map(i => i.json)\n  .filter(r => r && r.content);\n\n// подтягиваем исходный Envelope (из ноды перед DB)\nconst env = $node[\"KB — Extract Query Embedding\"]?.json ?? {};\n\n// сортируем по score (чем больше — тем релевантнее)\nrows.sort((a, b) => (b.score ?? 0) - (a.score ?? 0));\n\nconst MAX_CHARS_PER_CHUNK = 1400;\n\nconst kb_sources = rows.map((r, idx) => ({\n  n: idx + 1,\n  chunk_id: r.chunk_id ?? null,\n  doc: r.doc ?? null,\n  section: r.section ?? null,\n  source_url: r.source_url ?? null,\n  score: r.score ?? null,\n  distance: r.distance ?? null,\n}));\n\nconst kb_context_text = rows.map((r, idx) => {\n  let content = String(r.content ?? \"\").trim();\n  if (content.length > MAX_CHARS_PER_CHUNK) {\n    content = content.slice(0, MAX_CHARS_PER_CHUNK) + \"…\";\n  }\n  const scoreStr = (r.score ?? 0).toFixed(3);\n  return `[${idx + 1}] doc=\"${r.doc ?? \"\"}\" section=\"${r.section ?? \"\"}\" score=${scoreStr}\\n${content}`;\n}).join(\"\\n\\n\");\n\n// обновим retrieval в envelope\nconst top_score = rows[0]?.score ?? null;\n\nreturn [{\n  json: {\n    ...env,\n    retrieval: {\n      ...(env.retrieval ?? {}),\n      hits_count: rows.length,\n      top_score,\n      hits: kb_sources,\n    },\n    kb_context_text,\n    kb_sources,\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          0
        ],
        "id": "f357e26f-ab10-449f-b933-a4597dde2852",
        "name": "KB — Build Context"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "88b64325-a1e5-4c10-9b78-4446f2523d48",
                "leftValue": "={{$json.decision.mode}}",
                "rightValue": "ALLOW",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1456,
          0
        ],
        "id": "2c263262-353d-4cde-b9ee-a76ac0491ec9",
        "name": "If"
      },
      {
        "parameters": {
          "jsCode": "const topScore =\n  Number($json?.retrieval?.top_score ?? $json?.retrieval?.topScore ?? 0);\n\nconst hitsCount =\n  Number($json?.retrieval?.hits_count\n    ?? $json?.retrieval?.hitsCount\n    ?? $json?.retrieval?.hits?.length\n    ?? $json?.hits_count\n    ?? 0);\n\nconst cfg = {\n  minHits: 1,\n  tClarify: 0.46, // T1\n  tAllow: 0.52    // T2\n};\n\nlet mode = \"NO_ANSWER\";\nlet reason = \"no_hits\";\n\nif (hitsCount < cfg.minHits) {\n  mode = \"NO_ANSWER\";\n  reason = \"no_hits\";\n} else if (topScore >= cfg.tAllow) {\n  mode = \"ALLOW\";\n  reason = \"ok\";\n} else if (topScore >= cfg.tClarify) {\n  mode = \"CLARIFY\";\n  reason = \"low_confidence\";\n} else {\n  mode = \"NO_ANSWER\";\n  reason = \"low_similarity\";\n}\n\n// For NON-ALLOW we immediately set a user-facing fallback message in output.answer\n// so the parent workflow can just Send Message + Log (no LLM call).\nlet output = $json.output ?? {};\nif (mode !== \"ALLOW\") {\n  if (mode === \"CLARIFY\") {\n    output.answer =\n      \"I found partially relevant info in the knowledge base, but I need a bit more detail to answer.\\n\\n\" +\n      \"What to clarify:\\n\" +\n      \"- Which exact section/process are you referring to (function/page/step name)?\\n\" +\n      \"- Which system/integration is this about (if there are multiple)?\";\n  } else {\n    output.answer =\n      \"I couldn’t find an answer in the knowledge base for this question.\\n\\n\" +\n      \"What you can do:\\n\" +\n      \"- Rephrase the question\\n\" +\n      \"- Add 1–2 details (feature/section name, error code, step in the process)\";\n  }\n  output.sources = [];\n}\n\nreturn [{\n  json: {\n    ...$json,\n    decision: { ...($json.decision ?? {}), mode, reason },\n    output\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1248,
          0
        ],
        "id": "972c69ce-4fc8-4c3d-8bcc-ae5654bf7075",
        "name": "Gate Decide"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const j = item.json;\n\n  const picked = Array.isArray(j.output?.picked_hits) ? j.output.picked_hits : [];\n  const sources = picked\n    .map((h, i) => ({\n      n: h.n ?? (i + 1),\n      chunk_id: h.chunk_id ?? null,\n      doc: h.doc ?? \"\",\n      section: h.section ?? \"\",\n      source_url: h.source_url ?? null,\n      score: Number(h.score ?? 0)\n    }))\n    .sort((a, b) => b.score - a.score)\n    .slice(0, 5);\n\n  j.output = j.output ?? {};\n  j.output.sources = sources;\n\n  return { json: j };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2608,
          -160
        ],
        "id": "0d0676c3-2653-4f58-8dbd-77f87911635c",
        "name": "KB — Build Sources"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const j = item.json;\n\n  const mode = String(j.decision?.mode ?? \"NO_ANSWER\").toUpperCase();\n  const answerText = (j.output?.answer_text ?? \"\").trim();\n  const clarify = Array.isArray(j.output?.clarify) ? j.output.clarify : [];\n  const sources = Array.isArray(j.output?.sources) ? j.output.sources : [];\n\n  let text = \"\";\n\n  if (mode === \"ALLOW\") {\n    text = answerText || \"OK.\";\n\n    if (sources.length) {\n      const sourcesBlock =\n        \"\\n\\nSources:\\n\" +\n        sources.map((s, i) => {\n          const title = `${s.doc}${s.section ? \" — \" + s.section : \"\"}`;\n          const url = s.source_url ? `\\n${s.source_url}` : \"\";\n          return `${i + 1}) ${title}${url}`;\n        }).join(\"\\n\\n\");\n\n      text += sourcesBlock;\n    }\n  } else if (mode === \"CLARIFY\") {\n    const qs = clarify.length ? clarify : [\"Please уточни вопрос.\"];\n    text = \"I need a bit more info:\\n\" + qs.map(x => `- ${x}`).join(\"\\n\");\n  } else {\n    text = \"I couldn't find the answer in the Knowledge Base.\";\n  }\n\n  j.output = j.output ?? {};\n  j.output.reply_text = text;\n  j.output.answer = text; // backward-compat\n\n  return { json: j };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2816,
          -160
        ],
        "id": "3d6ca5d8-51e0-4e4d-8063-55d64d474505",
        "name": "KB — Build Final Reply"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const j = item.json;\n\n  delete j.query_embedding;\n\n  if (j.retrieval) {\n    delete j.retrieval.compiled_context;\n    if (Array.isArray(j.retrieval.hits)) {\n      j.retrieval.hits = j.retrieval.hits.map(h => {\n        const hh = { ...h };\n        delete hh.embedding;\n        delete hh.embedding_vector;\n        return hh;\n      });\n    }\n  }\n\n  if (j.llm) {\n    delete j.llm.raw_text;\n  }\n\n  if (j.output) {\n    delete j.output.picked_hits;\n  }\n\n  return { json: j };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3024,
          -160
        ],
        "id": "92616084-23c2-4e5b-988a-7a47bdd07550",
        "name": "KB — Strip Heavy Fields"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const j = item.json;\n\n  j.decision = j.decision ?? {};\n  j.output = j.output ?? {};\n\n  const mode = j.decision.mode ?? \"NO_ANSWER\";\n  const kbSources = Array.isArray(j.kb_sources) ? j.kb_sources : [];\n\n  // Default: no sources\n  j.output.sources = [];\n\n  if (mode === \"CLARIFY\") {\n    // Take top-3 sources (sorted by score desc)\n    j.output.sources = kbSources\n      .map(s => ({\n        n: s.n,\n        chunk_id: s.chunk_id,\n        doc: s.doc,\n        section: s.section,\n        source_url: s.source_url,\n        score: Number(s.score ?? 0)\n      }))\n      .sort((a, b) => b.score - a.score)\n      .slice(0, 3);\n\n    // If Gate didn't set a message (or you want to override it)\n    j.output.answer =\n      \"I found related information in the knowledge base, but I need a bit more detail to answer accurately.\\n\\n\" +\n      \"What to clarify:\\n\" +\n      \"- Which exact feature/section are you referring to?\\n\" +\n      \"- What’s the exact step or error message (if any)?\\n\\n\" +\n      \"Related sources I found:\\n\" +\n      j.output.sources.map((s, i) => {\n        const title = `${s.doc}${s.section ? \" — \" + s.section : \"\"}`;\n        return `${i + 1}) ${title}${s.source_url ? `\\n${s.source_url}` : \"\"}`;\n      }).join(\"\\n\\n\");\n\n  } else {\n    // NO_ANSWER\n    j.output.sources = [];\n    j.output.answer =\n      \"I couldn’t find an answer in the knowledge base for this question.\\n\\n\" +\n      \"What you can do:\\n\" +\n      \"- Rephrase the question\\n\" +\n      \"- Add 1–2 details (feature/section name, error code, step in the process)\";\n  }\n\n  return { json: j };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1936,
          16
        ],
        "id": "24fbf281-9e07-474e-8153-096b213ce011",
        "name": "Ops — Finalize Fallback"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const j = item.json;\n\n  delete j.query_embedding;\n\n  // обычно при fallback контекст/источники тоже не нужны дальше\n  // (оставь, если хочешь видеть в логах)\n  // delete j.kb_context_text;\n  // delete j.kb_sources;\n\n  return { json: j };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2144,
          16
        ],
        "id": "21fcc32e-f91b-4e96-b14a-0cdc3e6a9436",
        "name": "Ops — Strip Heavy Fields"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "GPT-4.1-MINI"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "={{ $json.prompt_text }}"
              },
              {
                "content": "=Question:\n{{$json.input.question}}\n\nContext (KB chunks):\n{{$json.retrieval.compiled_context}}"
              }
            ]
          },
          "simplify": false,
          "builtInTools": {},
          "options": {
            "temperature": 0.2
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          2080,
          -160
        ],
        "id": "23aee7bd-597c-43b3-bfc1-33607fceab21",
        "name": "OpenAI — Answer v1",
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "j2qEVgJkVL5JMOK6",
            "name": "OpenAi account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const base = $node[\"Gate Decide\"].json;\n\nfunction stripCodeFences(s) {\n  return String(s ?? \"\")\n    .trim()\n    .replace(/^```(?:json)?\\s*/i, \"\")\n    .replace(/\\s*```$/i, \"\")\n    .trim();\n}\n\nfunction extractResponsesOutputText(resp) {\n  const out = resp?.output;\n  if (Array.isArray(out)) {\n    for (const item of out) {\n      if (item?.type === \"message\" && Array.isArray(item?.content)) {\n        for (const c of item.content) {\n          if (c?.type === \"output_text\" && typeof c?.text === \"string\" && c.text.trim()) {\n            return c.text.trim();\n          }\n        }\n        const t2 = item.content?.[0]?.text;\n        if (typeof t2 === \"string\" && t2.trim()) return t2.trim();\n      }\n    }\n  }\n  return \"\";\n}\n\nfunction extractChatCompletionsText(resp) {\n  const cc =\n    resp?.choices?.[0]?.message?.content ??\n    resp?.data?.choices?.[0]?.message?.content ??\n    resp?.message?.content;\n  if (typeof cc === \"string\" && cc.trim()) return cc.trim();\n  return \"\";\n}\n\nfunction extractResponseText(resp) {\n  const t = extractResponsesOutputText(resp);\n  if (t) return t;\n  const cc = extractChatCompletionsText(resp);\n  if (cc) return cc;\n  if (typeof resp === \"string\" && resp.trim()) return resp.trim();\n  return \"\";\n}\n\nfunction parseJsonLoose(raw) {\n  const s = stripCodeFences(raw);\n  try {\n    const p = JSON.parse(s);\n    if (typeof p === \"string\") return JSON.parse(stripCodeFences(p));\n    return p;\n  } catch {}\n  const m = s.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    try { return JSON.parse(m[0]); } catch {}\n  }\n  return null;\n}\n\nfunction normalizeMode(m) {\n  const x = String(m ?? \"\").trim().toUpperCase();\n  if (x === \"ANSWER\") return \"ALLOW\";\n  if (x === \"ALLOW\") return \"ALLOW\";\n  if (x === \"CLARIFY\") return \"CLARIFY\";\n  if (x === \"NO_ANSWER\" || x === \"NOANSWER\" || x === \"NO-ANSWER\") return \"NO_ANSWER\";\n  return \"\";\n}\n\nfunction ensureArray(x) {\n  if (Array.isArray(x)) return x;\n  if (typeof x === \"string\" && x.trim()) return [x.trim()];\n  return [];\n}\n\nfunction pickHits({ parsed, answerText, hits, topScore }) {\n  const byN = new Map();\n  const byId = new Map();\n  for (const h of hits) {\n    if (h?.n != null) byN.set(Number(h.n), h);\n    if (h?.chunk_id) byId.set(String(h.chunk_id), h);\n  }\n\n  const explicit = parsed?.sources;\n  if (Array.isArray(explicit) && explicit.length) {\n    const picked = [];\n    for (const x of explicit) {\n      if (typeof x === \"number\" || /^\\d+$/.test(String(x))) {\n        const h = byN.get(Number(x));\n        if (h) picked.push(h);\n      } else {\n        const h = byId.get(String(x));\n        if (h) picked.push(h);\n      }\n    }\n    if (picked.length) return picked;\n  }\n\n  const cited = new Set();\n  const re = /\\[(\\d+)\\]/g;\n  let m;\n  while ((m = re.exec(String(answerText ?? \"\"))) !== null) cited.add(Number(m[1]));\n  if (cited.size) return [...cited].map(n => byN.get(n)).filter(Boolean);\n\n  const ts = typeof topScore === \"number\" ? topScore : Number(hits?.[0]?.score ?? 0);\n  const minScore = ts * 0.9;\n  return hits.filter(h => Number(h?.score ?? 0) >= minScore);\n}\n\n// вытаскиваем текст первого источника из kb_context_text\nfunction extractTopSourceText(kbContext) {\n  const s = String(kbContext ?? \"\");\n  const m = s.match(/\\[1\\][^\\n]*\\n([\\s\\S]*?)(?:\\n\\n\\[\\d+\\]|\\s*$)/);\n  if (!m) return \"\";\n  return String(m[1] ?? \"\").trim();\n}\n\n// ====== main ======\nconst raw = extractResponseText($json);\nconst parsed = parseJsonLoose(raw);\n\nconst hits = base?.kb_sources ?? base?.retrieval?.hits ?? [];\nconst topScore = base?.retrieval?.top_score ?? Number(hits?.[0]?.score ?? 0);\n\n// gate decision (retrieval)\nconst gateMode = String(base?.decision?.mode ?? \"ALLOW\").toUpperCase();\n\n// llm mode\nlet llmMode = normalizeMode(parsed?.mode);\nlet llmReason = \"ok\";\n\nif (!llmMode) {\n  llmMode = \"CLARIFY\";\n  llmReason = \"llm_parse_error\";\n}\n\nlet finalMode = llmMode;\nlet finalReason = llmReason;\n\nlet answerText = \"\";\nlet clarify = [];\n\n// если gate НЕ ALLOW — просто не трогаем (как правило LLM тут вообще не должен вызываться)\nif (gateMode !== \"ALLOW\") {\n  finalMode = gateMode;\n  finalReason = base?.decision?.reason ?? \"ok\";\n}\n\n// если gate ALLOW — решаем, что показывать пользователю\nif (gateMode === \"ALLOW\") {\n  if (llmMode === \"ALLOW\") {\n    answerText = String(parsed?.answer ?? \"\").trim();\n  } else if (llmMode === \"CLARIFY\") {\n    clarify = ensureArray(parsed?.clarify);\n  } else if (llmMode === \"NO_ANSWER\") {\n    answerText = String(parsed?.answer ?? \"\").trim();\n  }\n\n  // OVERRIDE: если LLM сказал CLARIFY/NO_ANSWER, но top_score высокий и top source явно отвечает — отвечаем\n  const FORCE_ANSWER_SCORE = 0.50; // под твой кейс: у тебя 0.536 — это как раз “high enough”\n  if ((llmMode === \"CLARIFY\" || llmMode === \"NO_ANSWER\") && hits.length && topScore >= FORCE_ANSWER_SCORE) {\n    const topText = extractTopSourceText(base?.kb_context_text);\n    if (topText) {\n      finalMode = \"ALLOW\";\n      finalReason = \"llm_override_high_score\";\n      answerText = topText;\n      clarify = [];\n    }\n  }\n\n  // если ALLOW, но пусто — переводим в CLARIFY как safe fallback\n  if (finalMode === \"ALLOW\" && !String(answerText).trim()) {\n    finalMode = \"CLARIFY\";\n    finalReason = \"llm_empty_answer\";\n    clarify = [\"What exact access do you need (system/app) and for which role?\"];\n  }\n\n  // если CLARIFY и пусто — дефолт\n  if (finalMode === \"CLARIFY\" && (!Array.isArray(clarify) || !clarify.length)) {\n    clarify = [\"What exact access do you need (system/app) and for which role?\"];\n  }\n\n  // если NO_ANSWER и пусто — дефолт\n  if (finalMode === \"NO_ANSWER\" && !String(answerText).trim()) {\n    answerText = \"I couldn't find the answer in the Knowledge Base.\";\n  }\n}\n\n// sources только для ALLOW\nlet picked_hits = [];\nif (finalMode === \"ALLOW\") {\n  picked_hits = pickHits({ parsed, answerText, hits, topScore });\n}\n\nreturn [{\n  json: {\n    ...base,\n    // ✅ теперь decision = финальный режим (консистентно с ответом)\n    decision: {\n      ...(base.decision ?? {}),\n      mode: finalMode,\n      reason: finalReason\n    },\n    output: {\n      ...(base.output ?? {}),\n      mode: finalMode,\n      answer_text: finalMode === \"ALLOW\" ? String(answerText).trim() : \"\",\n      clarify: finalMode === \"CLARIFY\" ? clarify : [],\n      picked_hits\n    },\n    llm: {\n      raw_text: raw,\n      parsed: parsed ?? null\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          -160
        ],
        "id": "13b3b8c9-1d3e-4115-94af-9ad2b489a731",
        "name": "KB — Parse Answer"
      },
      {
        "parameters": {
          "url": "https://raw.githubusercontent.com/ArsenYoung/ai-support-rag-assistant/main/prompts/answer.md",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1664,
          -160
        ],
        "id": "ff45315b-6782-4a89-ba67-f5432e5e8e7e",
        "name": "Prompt — Load answer.md"
      },
      {
        "parameters": {
          "jsCode": "function fnv1a32(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h = Math.imul(h, 0x01000193);\n  }\n  return (\"00000000\" + (h >>> 0).toString(16)).slice(-8);\n}\n\nconst prompt_text = ($json.body ?? $json.data ?? $json.prompt ?? \"\").toString();\nif (!prompt_text.trim()) {\n  throw new Error(\"PROMPT_LOAD_ERROR: empty prompt_text\");\n}\n\nreturn [{\n  json: {\n    ...$json,\n    prompt_text,\n    meta: {\n      ...( $json.meta || {} ),\n      prompt_version: \"v1\",\n      prompt_hash: \"fnv1a32:\" + fnv1a32(prompt_text),\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1872,
          -160
        ],
        "id": "469a0ba6-5e38-4d2e-9329-bf108149d8e5",
        "name": "Prompt — Attach Meta"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Z8yQeXYTQSnRkl3M",
            "mode": "list",
            "cachedResultUrl": "/workflow/Z8yQeXYTQSnRkl3M",
            "cachedResultName": "Ops — Log chat_turn"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3472,
          16
        ],
        "id": "6ddde8c4-b703-435c-bbbd-1cf9de0b1412",
        "name": "Call 'Ops — Log chat_turn'"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "kb/answer",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          -160
        ],
        "id": "85da2bdb-a7b8-42ae-8b8d-52ff7fb671af",
        "name": "Webhook",
        "webhookId": "d3de4c60-5f27-430d-aa33-22ac35c89e58"
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          3280,
          16
        ],
        "id": "089a0e6c-83b5-4fb1-b651-7433bdfaefab",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "KB — Input Normalize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KB — Input Normalize": {
        "main": [
          [
            {
              "node": "OpenAI — Embeddings (HTTP)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI — Embeddings (HTTP)": {
        "main": [
          [
            {
              "node": "KB — Extract Query Embedding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KB — Extract Query Embedding": {
        "main": [
          [
            {
              "node": "DB — Retrieve kb_chunks (topK)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DB — Retrieve kb_chunks (topK)": {
        "main": [
          [
            {
              "node": "KB — Build Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KB — Build Context": {
        "main": [
          [
            {
              "node": "Gate Decide",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Prompt — Load answer.md",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Ops — Finalize Fallback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gate Decide": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KB — Build Sources": {
        "main": [
          [
            {
              "node": "KB — Build Final Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KB — Build Final Reply": {
        "main": [
          [
            {
              "node": "KB — Strip Heavy Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ops — Finalize Fallback": {
        "main": [
          [
            {
              "node": "Ops — Strip Heavy Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI — Answer v1": {
        "main": [
          [
            {
              "node": "KB — Parse Answer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KB — Parse Answer": {
        "main": [
          [
            {
              "node": "KB — Build Sources",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prompt — Load answer.md": {
        "main": [
          [
            {
              "node": "Prompt — Attach Meta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prompt — Attach Meta": {
        "main": [
          [
            {
              "node": "OpenAI — Answer v1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ops — Strip Heavy Fields": {
        "main": [
          [
            {
              "node": "Call 'Ops — Log chat_turn'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "KB — Strip Heavy Fields": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "KB — Input Normalize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "When Executed by Another Workflow": [
        {
          "json": {
            "meta": {
              "request_id": "c14186e1-66f8-4b72-bc3d-648c372e1745",
              "ts": "2025-12-17T14:43:33.319Z",
              "channel": "telegram",
              "prompt_version": "v1",
              "chat_model": "day1_stub",
              "embedding_model": "n/a",
              "chat_id": 168487641
            },
            "input": {
              "user_id": "168487641",
              "question": "t"
            },
            "telegram": {
              "update_id": 15493757,
              "message": {
                "message_id": 57,
                "from": {
                  "id": 168487641,
                  "is_bot": false,
                  "first_name": "Arseniy",
                  "last_name": "Ostroumov",
                  "username": "arseniy_ostroumov",
                  "language_code": "en"
                },
                "chat": {
                  "id": 168487641,
                  "first_name": "Arseniy",
                  "last_name": "Ostroumov",
                  "username": "arseniy_ostroumov",
                  "type": "private"
                },
                "date": 1765982613,
                "text": "t"
              }
            },
            "retrieval": {
              "top_k": 5,
              "hits": [],
              "top_score": null
            },
            "decision": {
              "mode": "ALLOW",
              "reason": "day1_stub"
            },
            "output": {
              "answer": "",
              "sources": []
            },
            "error": null,
            "timers": {
              "t_start_ms": 1765982613319
            }
          }
        }
      ],
      "KB — Build Context": [
        {
          "json": {
            "meta": {
              "request_id": "c14186e1-66f8-4b72-bc3d-648c372e1745",
              "ts": "2025-12-17T14:43:33.319Z",
              "channel": "telegram",
              "prompt_version": "v1",
              "chat_model": "day1_stub",
              "embedding_model": "text-embedding-3-small",
              "chat_id": 168487641
            },
            "input": {
              "user_id": "168487641",
              "question": "t"
            },
            "telegram": {
              "update_id": 15493757,
              "message": {
                "message_id": 57,
                "from": {
                  "id": 168487641,
                  "is_bot": false,
                  "first_name": "Arseniy",
                  "last_name": "Ostroumov",
                  "username": "arseniy_ostroumov",
                  "language_code": "en"
                },
                "chat": {
                  "id": 168487641,
                  "first_name": "Arseniy",
                  "last_name": "Ostroumov",
                  "username": "arseniy_ostroumov",
                  "type": "private"
                },
                "date": 1765982613,
                "text": "t"
              }
            },
            "retrieval": {
              "top_k": 5,
              "hits": [
                {
                  "n": 1,
                  "chunk_id": "demo-support__access-request-process__0",
                  "doc": "Access request process",
                  "section": "Onboarding",
                  "source_url": "https://example.com/access",
                  "score": 0.440500884062508,
                  "distance": 1.27014300352255
                },
                {
                  "n": 2,
                  "chunk_id": "demo-support__support-sla__0",
                  "doc": "Support SLA",
                  "section": "Response time",
                  "source_url": "https://example.com/sla",
                  "score": 0.438262295704082,
                  "distance": 1.28173860677079
                },
                {
                  "n": 3,
                  "chunk_id": "demo-support__cancellation-policy__0",
                  "doc": "Cancellation policy",
                  "section": "Refunds",
                  "source_url": "https://example.com/cancel",
                  "score": 0.427371489689647,
                  "distance": 1.33988467673918
                }
              ],
              "top_score": 0.440500884062508,
              "hits_count": 3
            },
            "decision": {
              "mode": "ALLOW",
              "reason": "day1_stub"
            },
            "output": {
              "answer": "",
              "sources": []
            },
            "error": null,
            "timers": {
              "t_start_ms": 1765982613319,
              "t_after_embed_ms": 1765984398598
            },
            "question": "t",
            "chat_id": 168487641,
            "request_id": "c14186e1-66f8-4b72-bc3d-648c372e1745",
            "query_embedding": [
              -0.0062680393,
              0.0010339934,
              0.008590398,
              -0.021281818,
              0.015433202,
              -0.004271898,
              0.013227349,
              -0.0040777205,
              -0.0032019815,
              -0.034548003,
              0.0055457,
              0.0116273295,
              -0.008256413,
              -0.0035612094,
              0.026749847,
              0.015448736,
              0.030959608,
              -0.01879635,
              -0.002143716,
              0.06058328,
              -0.01165063,
              -0.0029573184,
              0.027324611,
              -0.013693375,
              -0.0093360385,
              0.01794197,
              0.01090499,
              -0.005724343,
              0.03516937,
              0.002790326,
              -0.00243304,
              -0.03461014,
              0.007409801,
              -0.06300661,
              0.04849769,
              0.04386851,
              0.006287457,
              0.045981154,
              -0.0027592576,
              0.022244938,
              -0.018206052,
              0.006167067,
              0.0068971734,
              -0.0037379107,
              0.028520742,
              -0.025289634,
              -0.06089396,
              -0.022943975,
              -0.013188514,
              0.018672077,
              0.035045095,
              0.0023281842,
              -0.055705547,
              0.05825315,
              -0.0412277,
              0.0036602397,
              -0.03311886,
              0.04041992,
              0.041476242,
              0.0029650854,
              -0.018516736,
              -0.041258767,
              -0.022089595,
              -0.032839242,
              -0.014695329,
              0.0023243008,
              -0.045919016,
              0.029592602,
              -0.030012025,
              -0.0035281992,
              -0.015013779,
              0.000025349224,
              -0.026439164,
              0.01927791,
              0.065305665,
              0.0048311283,
              -0.059495885,
              -0.0033573234,
              0.048435554,
              -0.029779011,
              0.0499579,
              0.0038408246,
              -0.0022505135,
              -0.018936157,
              -0.026144015,
              -0.053499695,
              -0.069530964,
              0.031845056,
              -0.0121399565,
              -0.0067573655,
              -0.024621665,
              0.037685905,
              0.022602223,
              0.07251352,
              0.019371115,
              -0.00023192036,
              -0.025553716,
              0.010089446,
              -0.030229501,
              -0.05679294,
              0.020862395,
              -0.002066045,
              0.041786928,
              0.024606131,
              0.03346061,
              0.046353973,
              -0.042843252,
              -0.05455602,
              -0.023658548,
              0.010392362,
              0.039860692,
              -0.031845056,
              0.0010233137,
              0.009654489,
              0.029126575,
              -0.017693425,
              0.03967428,
              -0.01015935,
              0.009483613,
              -0.06872319,
              -0.0025825563,
              0.015604078,
              0.0064350315,
              -0.05980657,
              0.018485667,
              0.0002064346,
              -0.010462266,
              -0.054027855,
              -0.039736416,
              -0.027200337,
              0.014703096,
              0.003786455,
              -0.0027068297,
              -0.0101748835,
              0.0065010516,
              -0.0062214364,
              -0.010648676,
              0.035448983,
              -0.02698286,
              0.022679893,
              -0.010407897,
              0.019526457,
              0.010501102,
              -0.0053049205,
              0.0021029387,
              -0.013343856,
              -0.01916917,
              0.082952484,
              0.029934352,
              -0.018035175,
              -0.027899377,
              0.0055418164,
              -0.01629535,
              -0.04119663,
              -0.01749148,
              -0.058967724,
              -0.018407997,
              0.055767685,
              -0.02519643,
              0.009864201,
              -0.01453222,
              -0.056078367,
              0.026299356,
              0.028163457,
              -0.007984566,
              0.012815693,
              -0.014338043,
              0.017103126,
              -0.05175987,
              -0.034268387,
              -0.023083782,
              -0.033926636,
              -0.0052699684,
              0.0057709455,
              0.016854579,
              0.012769091,
              -0.0064117303,
              -0.0052932696,
              -0.03342954,
              0.020940065,
              -0.008637001,
              0.049336538,
              -0.016699238,
              -0.0060622115,
              0.031503305,
              0.0009932163,
              0.009258368,
              0.0042796647,
              0.04887051,
              -0.014648726,
              -0.024606131,
              0.034765482,
              0.052878328,
              0.0072000897,
              0.007903011,
              -0.026283823,
              0.020256562,
              -0.0046990877,
              0.05750751,
              0.06803968,
              0.038120862,
              0.06002405,
              0.0016349718,
              -0.017398275,
              -0.06754259,
              -0.0289557,
              -0.02850521,
              0.023347864,
              -0.02180998,
              -0.023254659,
              0.023347864,
              0.0031670297,
              -0.03383343,
              -0.013312787,
              -0.006776783,
              -0.032311082,
              0.0024427488,
              0.011743835,
              -0.030711062,
              0.014555521,
              -0.0646843,
              0.029965421,
              0.030679993,
              0.029530464,
              -0.04156945,
              0.050268587,
              0.021654638,
              -0.0436821,
              -0.012046752,
              0.0087224385,
              0.025460511,
              -0.036381036,
              -0.018703146,
              -0.006504935,
              -0.013460361,
              0.06866105,
              -0.042066544,
              -0.019573059,
              0.013072007,
              -0.053934652,
              -0.028551811,
              -0.015363298,
              -0.034330525,
              0.014819602,
              -0.01085062,
              -0.00900982,
              -0.015868159,
              -0.006431148,
              -0.008528261,
              0.009227299,
              0.056917213,
              -0.018625474,
              -0.05415213,
              -0.032217875,
              0.013374924,
              0.031907193,
              -0.0043573356,
              0.03948787,
              0.011130235,
              -0.014897273,
              0.012862296,
              -0.023549808,
              -0.034672275,
              -0.029872216,
              -0.028318798,
              0.04439667,
              0.021514831,
              -0.024202242,
              0.015906993,
              0.02738675,
              0.03628783,
              -0.005988424,
              0.015200189,
              -0.00763893,
              -0.046136495,
              0.0052350163,
              0.008085538,
              0.011743835,
              -0.017895369,
              0.085065134,
              -0.066672675,
              0.0057282266,
              0.0010640909,
              0.014089496,
              -0.04383744,
              -0.0338645,
              -0.051076364,
              0.017087592,
              0.028334333,
              -0.008823411,
              0.06760473,
              0.024916815,
              -0.025429443,
              -0.020520644,
              -0.03287031,
              0.07736018,
              -0.004201994,
              -0.04101022,
              -0.016761374,
              -0.013382691,
              0.007887477,
              -0.0062913406,
              0.017460411,
              0.028536277,
              -0.014446782,
              0.035666462,
              0.05175987,
              -0.030975142,
              -0.01509145,
              0.026470233,
              -0.0074991225,
              0.033584885,
              -0.0054058926,
              -0.020924533,
              -0.05210162,
              0.0020505108,
              0.008901082,
              0.030586788,
              -0.014796301,
              -0.061359987,
              0.050144315,
              -0.028210059,
              0.017553616,
              -0.0095302155,
              0.022943975,
              0.008038935,
              -0.005553467,
              -0.010671977,
              -0.00013519586,
              -0.03892864,
              -0.049181193,
              0.017336138,
              0.030881938,
              0.011386549,
              0.02039637,
              -0.0065709557,
              -0.0010184593,
              0.004636951,
              -0.019340046,
              0.02906444,
              0.0005941822,
              -0.01983714,
              -0.009429243,
              0.009833132,
              0.011992382,
              0.028629482,
              0.02370515,
              -0.021328421,
              0.0008412726,
              0.016854579,
              -0.008108838,
              0.005161229,
              0.009670023,
              0.030027557,
              -0.011456453,
              -0.038276203,
              -0.0035379082,
              -0.026998393,
              -0.014174934,
              0.0023942045,
              -0.008248647,
              0.009770995,
              0.009871967,
              0.006415614,
              0.005701042,
              0.048093803,
              -0.038307272,
              0.008000099,
              -0.014842903,
              0.011122469,
              -0.038120862,
              0.03889757,
              -0.01250501,
              0.007479705,
              -0.045204446,
              -0.027821705,
              0.027044997,
              0.020908998,
              0.02311485,
              0.013988524,
              0.010268088,
              0.0050913254,
              0.016108938,
              0.0068971734,
              0.009879734,
              -0.008730206,
              0.0080467025,
              -0.022011925,
              -0.025211964,
              -0.058936656,
              0.031394564,
              -0.029375123,
              -0.027371215,
              -0.0035340246,
              0.008668069,
              -0.031239223,
              0.029545998,
              0.07009019,
              -0.061950285,
              -0.010306925,
              0.0023689615,
              -0.02866055,
              -0.015200189,
              -0.034237318,
              -0.00898652,
              0.013965222,
              -0.050299656,
              0.0070991176,
              0.055736616,
              -0.038183,
              0.00030485817,
              -0.0013844832,
              0.051573455,
              0.020116756,
              0.015068148,
              0.011363248,
              -0.0086913705,
              0.056264777,
              -0.030462515,
              0.007724368,
              -0.04980256,
              0.027138202,
              -0.009374874,
              -0.035231505,
              -0.055022042,
              0.0221828,
              0.010749648,
              -0.0033301385,
              -0.018734213,
              0.002534012,
              0.04570154,
              -0.007887477,
              -0.06337943,
              0.07226498,
              0.007273877,
              -0.028443072,
              0.0042175283,
              0.032124672,
              0.00027573158,
              0.021872116,
              -0.018936157,
              0.046198633,
              0.06617558,
              -0.03644317,
              -0.0039961664,
              -0.018609941,
              -0.013312787,
              -0.0066835782,
              -0.019293444,
              -0.028707154,
              0.013235116,
              0.014889506,
              -0.019930346,
              -0.03815193,
              -0.004423356,
              0.012807926,
              -0.02061385,
              -0.014811834,
              0.031441167,
              -0.018532269,
              0.0062952237,
              0.02780617,
              0.0034175182,
              -0.036691718,
              -0.007433102,
              -0.00019235676,
              0.048746236,
              0.019790538,
              -0.018252654,
              -0.05983764,
              -0.0077865045,
              0.013390458,
              0.058781315,
              -0.00960012,
              -0.0122719975,
              0.013825415,
              0.053996786,
              -0.03461014,
              -0.00011432181,
              -0.09127881,
              0.03610142,
              -0.036163557,
              -0.03871116,
              0.014330275,
              -0.018314792,
              0.06070755,
              0.034827616,
              -0.03290138,
              -0.020178892,
              0.0022233287,
              0.0072583426,
              -0.011479754,
              0.041600518,
              -0.018330324,
              -0.011743835,
              -0.0016922541,
              -0.0048932647,
              -0.020303166,
              0.030617857,
              -0.08108839,
              0.02114201,
              -0.014446782,
              0.0097865295,
              0.02058278,
              0.02490128,
              0.0056699733,
              0.009413709,
              0.023720684,
              0.00443889,
              0.022276005,
              0.010757416,
              0.011215674,
              -0.008489426,
              -0.028194526,
              -0.030695528,
              0.00066457136,
              -0.048746236,
              0.044427738,
              0.014571055,
              -0.0077632032,
              -0.007246692,
              0.00046286982,
              -0.0040466525,
              -0.03346061,
              -0.010182651,
              -0.040730603,
              0.011635096,
              -0.06940669,
              -0.008637001,
              -0.009747694,
              0.04402385,
              -0.019417718,
              -0.008893315,
              -0.016171075,
              0.0038913107,
              0.029250849,
              -0.0031146018,
              0.031410098,
              -0.021468228,
              -0.0030388727,
              -0.00591852,
              -0.020738121,
              0.0030388727,
              -0.0104778,
              0.00474569,
              0.0031223688,
              0.023736218,
              -0.0022349793,
              -0.00039345148,
              0.021903185,
              0.02047404,
              -0.021017738,
              0.007440869,
              0.0060622115,
              0.026066344,
              -0.022524552,
              0.04775205,
              -0.0024912932,
              0.017398275,
              0.016404087,
              -0.042035475,
              0.007479705,
              0.039581075,
              -0.023658548,
              -0.038183,
              0.030866403,
              -0.028940165,
              -0.010656443,
              0.004353452,
              -0.014640959,
              -0.008908848,
              0.009561284,
              -0.020551711,
              0.004532095,
              0.009025355,
              -0.018734213,
              0.008178743,
              -0.023736218,
              -0.009778762,
              -0.033180997,
              -0.019821607,
              0.040140305,
              -0.030602323,
              -0.0024349818,
              -0.002143716,
              -0.000752922,
              0.01842353,
              -0.031596508,
              -0.05775606,
              0.0099496385,
              0.058004607,
              0.028971234,
              -0.022120664,
              0.010990428,
              0.0093671065,
              -0.0012592389,
              -0.002551488,
              0.0042641307,
              -0.012660352,
              -0.019262375,
              0.010656443,
              -0.055985164,
              0.029452793,
              -0.005735994,
              -0.022943975,
              0.030881938,
              -0.018454598,
              0.011503056,
              -0.028598415,
              -0.021421626,
              0.029732408,
              0.022136198,
              0.01367784,
              -0.026532369,
              0.018097313,
              -0.0221828,
              -0.009662257,
              -0.009763229,
              0.018951692,
              0.013452594,
              -0.033709157,
              -0.01634195,
              -0.0006301049,
              0.03349168,
              0.0016543895,
              0.029763477,
              -0.018221585,
              -0.01127781,
              0.019060431,
              0.006147649,
              -0.037561633,
              0.021312887,
              0.039953895,
              0.020132288,
              -0.015456503,
              0.005029189,
              0.017802164,
              -0.003658298,
              -0.008978752,
              -0.03122369,
              -0.008481659,
              -0.0015068148,
              0.008637001,
              0.00072039734,
              0.053748243,
              0.02226047,
              -0.005324338,
              0.010337993,
              -0.030027557,
              -0.02348767,
              0.016621565,
              -0.013040939,
              0.015231257,
              -0.017072057,
              -0.030866403,
              -0.026330424,
              -0.040264577,
              -0.011246742,
              0.0052389,
              0.014943875,
              -0.0050253053,
              0.018097313,
              0.017615752,
              -0.030602323,
              -0.014990478,
              0.015006012,
              0.0068078516,
              -0.0517288,
              0.012714721,
              -0.018780816,
              -0.031347964,
              0.059899773,
              0.026097411,
              -0.041103423,
              0.05262978,
              -0.00091505994,
              -0.014019592,
              -0.051169567,
              -0.025507113,
              0.031907193,
              -0.0051418114,
              -0.038183,
              0.00083690364,
              0.0053554066,
              0.0019320629,
              0.018749747,
              -0.012629284,
              0.04967829,
              -0.020458506,
              0.0010621492,
              -0.038245138,
              0.048280213,
              0.0511385,
              -0.017833231,
              0.0035515004,
              -0.026889656,
              0.013600169,
              -0.022229403,
              -0.017180797,
              0.0024815842,
              0.010609841,
              0.0145943565,
              -0.022928441,
              -0.04852876,
              0.008528261,
              -0.021452693,
              0.025429443,
              0.014260371,
              0.017274002,
              0.034361593,
              0.0066913455,
              -0.00360587,
              -0.026827518,
              0.001003896,
              0.014306974,
              0.023938162,
              -0.018641008,
              0.02594207,
              -0.026377028,
              0.023441069,
              0.011293344,
              0.0045709307,
              -0.039394666,
              0.0016776908,
              -0.011992382,
              -0.018967226,
              0.0023009996,
              -0.022322608,
              -0.0108195525,
              0.007833107,
              -0.02519643,
              0.032000396,
              0.034081977,
              0.020132288,
              0.005130161,
              0.04402385,
              -0.029872216,
              -0.02743335,
              -0.009941871,
              -0.022509018,
              0.0069748443,
              -0.0135458,
              -0.007324363,
              0.017926436,
              0.062323105,
              0.06254058,
              0.030493584,
              0.027153736,
              -0.00027694518,
              -0.012730256,
              -0.01095936,
              0.011557425,
              -0.013701141,
              -0.015239025,
              -0.010384595,
              -0.006302991,
              0.021359488,
              -0.041631587,
              -0.034113046,
              -0.007561259,
              0.007351548,
              -0.020722589,
              -0.018392462,
              -0.0047845254,
              -0.0046913205,
              -0.013359389,
              -0.02642363,
              -0.008815643,
              0.0054058926,
              -0.010640909,
              0.026858587,
              -0.009506915,
              0.028707154,
              0.01373221,
              0.0406374,
              0.0029650854,
              -0.05567448,
              -0.005724343,
              0.022229403,
              0.0066680443,
              -0.02076919,
              -0.04629184,
              -0.04399278,
              -0.04604329,
              0.0332742,
              -0.019743934,
              -0.014508918,
              0.010617608,
              -0.018112848,
              0.0045981156,
              -0.009444778,
              -0.0046408344,
              0.000025455414,
              -0.004322384,
              0.04361996,
              -0.025180895,
              0.0277285,
              -0.07605532,
              -0.0061049303,
              0.045018036,
              0.0020291514,
              0.0020602199,
              -0.00683892,
              0.014633192,
              -0.00016529331,
              0.020644916,
              -0.016481759,
              -0.0034349943,
              0.019231306,
              -0.021747842,
              -0.0133982245,
              -0.008815643,
              -0.009802064,
              0.056886144,
              0.013701141,
              -0.04476949,
              -0.0116583975,
              -0.023270192,
              0.0068622213,
              0.026641108,
              0.045049105,
              -0.0066991122,
              0.01447785,
              -0.007060282,
              0.015782721,
              0.0018835185,
              -0.005708809,
              0.015487571,
              0.011005962,
              0.035045095,
              0.03802766,
              -0.012745789,
              -0.024326516,
              -0.039550006,
              0.0027961512,
              0.023503205,
              -0.0010893339,
              -0.009569051,
              -0.024233311,
              0.03167418,
              0.0035184904,
              0.036412105,
              -0.011433152,
              -0.02114201,
              -0.014539987,
              -0.0018650717,
              -0.027945979,
              0.009343806,
              -0.0009407884,
              0.009592352,
              -0.017957505,
              0.022757564,
              -0.014275906,
              0.029980956,
              -0.002458283,
              0.015006012,
              -0.02207406,
              -0.022353675,
              0.0020757539,
              -0.029623669,
              -0.053499695,
              -0.0077981553,
              -0.024202242,
              -0.014617657,
              0.050113246,
              -0.012706954,
              0.012823461,
              0.00064272643,
              0.015580776,
              0.006058328,
              -0.022835236,
              0.016963318,
              -0.024994485,
              -0.041600518,
              0.017180797,
              0.017957505,
              0.034920823,
              -0.011161304,
              0.046136495,
              0.023860492,
              0.06977951,
              0.022943975,
              -0.019526457,
              0.0028893563,
              0.0413209,
              0.029017836,
              -0.022695428,
              -0.0027301311,
              0.041600518,
              -0.012862296,
              0.013607936,
              0.025351772,
              -0.030788733,
              -0.007871943,
              -0.018268188,
              -0.0178643,
              -0.024575062,
              0.017056523,
              0.027852774,
              -0.010050611,
              -0.028645016,
              -0.033771295,
              0.03585287,
              0.023456603,
              0.027573159,
              -0.017833231,
              -0.010260322,
              0.0066913455,
              -0.038089793,
              0.02791491,
              -0.009522448,
              0.029980956,
              0.0025553715,
              0.014042893,
              -0.011347714,
              0.036194626,
              -0.015705049,
              0.02143716,
              0.03628783,
              0.0005427252,
              -0.029732408,
              -0.021499297,
              -0.011231207,
              -0.031254757,
              0.021126477,
              -0.007918545,
              0.0073437807,
              0.055363797,
              0.0035748018,
              -0.0038388828,
              0.0024155641,
              0.019604128,
              -0.01618661,
              0.0061515328,
              0.010268088,
              0.0033398473,
              0.002594207,
              0.015487571,
              0.004660252,
              0.007044748,
              -0.02791491,
              -0.019510923,
              0.0064000795,
              -0.011192372,
              -0.021266283,
              0.015743885,
              -0.00025388665,
              0.016155541,
              0.0020485693,
              0.033895567,
              0.04697534,
              -0.017631287,
              -0.011052565,
              -0.008256413,
              0.029685806,
              0.009483613,
              0.047317095,
              -0.0013631238,
              0.028412003,
              0.035262574,
              0.014578822,
              0.04694427,
              -0.018625474,
              -0.00043228694,
              0.0041748094,
              0.030850869,
              -0.0007553492,
              0.0041748094,
              0.05284726,
              -0.0016068161,
              -0.046353973,
              -0.018066244,
              -0.015433202,
              0.020256562,
              0.02143716,
              -0.004501027,
              0.010671977,
              0.0067923176,
              0.0064661,
              -0.03666065,
              0.007374849,
              0.03305672,
              -0.033957705,
              0.01901383,
              -0.03948787,
              0.010835086,
              0.0077282516,
              0.022710962,
              -0.02780617,
              0.026190616,
              0.013607936,
              0.0059340545,
              0.0033845082,
              0.019479854,
              -0.016248746,
              0.0008723409,
              -0.0077787377,
              0.029375123,
              0.017460411,
              0.0246372,
              -0.0033903334,
              0.0006568043,
              0.03255963,
              0.021654638,
              -0.029468328,
              0.01583709,
              -0.020380836,
              0.015604078,
              0.0076428135,
              -0.0221828,
              0.022446882,
              0.0072428086,
              -0.030276105,
              -0.029872216,
              0.017429342,
              -0.014151633,
              -0.0034427613,
              -0.027107133,
              -0.053592898,
              0.011728302,
              -0.019340046,
              0.0030213967,
              0.039177187,
              -0.005530166,
              0.008652535,
              -0.015479804,
              0.02661004,
              -0.037157744,
              -0.007203973,
              0.008007866,
              0.015510873,
              0.037313085,
              0.019495388,
              0.032031465,
              0.0129166655,
              -0.014112797,
              0.00025582843,
              0.002883531,
              0.016155541,
              0.019681798,
              0.00092865236,
              0.0029864449,
              0.024947884,
              0.03802766,
              0.0052777356,
              0.0074136844,
              0.0018437123,
              0.012427339,
              0.02341,
              -0.026299356,
              0.032062534,
              0.015068148,
              -0.014936108,
              0.014392412,
              0.010229253,
              0.00031480973,
              0.011976848,
              -0.032280013,
              0.006504935,
              0.02981008,
              0.0017747794,
              -0.023907093,
              -0.023503205,
              -0.045484062,
              0.004578698,
              -0.0072932946,
              0.016404087,
              -0.010726347,
              -0.000116991745,
              0.053686105,
              0.010524402,
              -0.016124472,
              0.043930642,
              -0.012365202,
              -0.034113046,
              -0.007716601,
              -0.009320504,
              -0.02906444,
              -0.021390557,
              -0.025833331,
              -0.009048657,
              -0.0024446906,
              -0.0020971135,
              0.018454598,
              -0.0046913205,
              -0.016606031,
              0.001777692,
              0.00010346003,
              -0.004349569,
              0.00015898256,
              0.015200189,
              0.012225395,
              -0.020334233,
              -0.005044723,
              0.00023568254,
              -0.013281719,
              -0.002297116,
              0.0387733,
              0.032839242,
              0.016000198,
              -0.0061437655,
              0.014734164,
              0.0013204048,
              0.012310833,
              0.016108938,
              -0.04458308,
              -0.027573159,
              0.00006207602,
              -0.009444778,
              -0.010097213,
              0.009250601,
              0.02850521,
              0.03274604,
              0.017553616,
              0.019262375,
              0.02501002,
              0.014159399,
              -0.020241028,
              -0.029235315,
              -0.0011029263,
              0.0006776783,
              -0.026485767,
              0.030493584,
              0.015006012,
              -0.025507113,
              0.01946432,
              0.006866105,
              -0.010299157,
              -0.010337993,
              -0.020971134,
              0.012031218,
              -0.0041049053,
              -0.0023456602,
              -0.0076428135,
              -0.03892864,
              -0.0014495326,
              -0.021328421,
              -0.017196331,
              -0.0050486065,
              -0.004551513,
              -0.0001928422,
              -0.022819702,
              0.006621442,
              -0.02047404,
              -0.0030835336,
              -0.022804167,
              -0.0474103,
              0.16752052,
              -0.030617857,
              -0.028334333,
              0.045981154,
              -0.005887452,
              -0.004108789,
              0.010042843,
              0.016155541,
              0.021514831,
              0.004761224,
              0.00006504935,
              0.003318488,
              -0.024373118,
              0.0035010143,
              0.0002626246,
              0.008675836,
              0.013825415,
              -0.007374849,
              0.00535929,
              0.0075496086,
              -0.005378708,
              -0.02631489,
              -0.0059340545,
              0.012054519,
              0.020738121,
              -0.0056039533,
              -0.024109038,
              -0.014322508,
              0.0023087666,
              -0.004582581,
              0.012085587,
              0.032621764,
              0.010407897,
              0.008357385,
              0.0048854975,
              -0.02050511,
              -0.029468328,
              -0.025631387,
              -0.006854454,
              -0.049336538,
              0.015619611,
              0.0013427351,
              0.0037049004,
              -0.009227299,
              0.008054469,
              -0.01901383,
              -0.042221885,
              -0.024233311,
              -0.00038277174,
              -0.012784625,
              -0.01629535,
              -0.004578698,
              -0.0154642705,
              -0.019107034,
              0.013382691,
              -0.010299157,
              0.0067185303,
              -0.015573009,
              0.02724694,
              0.027712965,
              -0.0076428135,
              -0.018283723,
              -0.019743934,
              -0.015510873,
              -0.000028489432,
              -0.0006160271,
              -0.02333233,
              -0.021328421,
              0.0043185004,
              -0.044831626,
              0.0054369606,
              0.023876024,
              -0.009056424,
              -0.034206253,
              -0.005887452,
              -0.00022378919,
              0.017258467,
              0.029468328,
              -0.061888147,
              0.010485567,
              -0.006438915,
              0.027511021,
              0.0027709082,
              0.029872216,
              -0.0072272746,
              -0.03927039,
              -0.02114201,
              -0.017879834,
              -0.0015349706,
              -0.034113046,
              -0.002227212,
              0.027511021,
              0.007836991,
              0.0055651176,
              -0.034454796,
              -0.025786728,
              0.030058626,
              -0.039767485,
              0.009638955,
              -0.0028621715,
              0.001658273,
              -0.014035126,
              0.034516934,
              0.03029164,
              0.02180998,
              -0.016155541,
              0.009087492,
              -0.02351874,
              0.033336338,
              -0.024326516,
              -0.011246742,
              -0.007976798,
              0.02991882,
              0.00023713887,
              0.029732408,
              -0.030167365,
              -0.0047534574,
              -0.028489675,
              0.0058835684,
              -0.034641206,
              0.027604226,
              0.0035515004,
              0.023891559,
              -0.015969131,
              0.0058991024,
              -0.021670172,
              0.01042343,
              0.03927039,
              0.02061385,
              -0.03164311,
              0.0027514906,
              -0.00486608,
              0.017056523,
              -0.0061359988,
              0.020008016,
              0.031736318,
              -0.03127029,
              -0.045484062,
              0.010066144,
              -0.014252605,
              0.022648826,
              0.022975042,
              0.029654738,
              0.0034680043,
              0.0078525245,
              0.033957705,
              0.027883843,
              0.0000039973193,
              -0.026268288,
              -0.040295646,
              -0.029934352,
              -0.012528311,
              -0.01815945,
              -0.024885746,
              0.002559255,
              0.0042485967,
              -0.01095936,
              0.0038058725,
              0.0036272295,
              -0.0021417742,
              -0.00763893,
              0.0035107234,
              0.0023689615,
              -0.0029883867,
              0.049181193,
              -0.03557326,
              0.0071301856,
              0.020008016,
              0.013701141,
              -0.004236946,
              -0.0118836425,
              0.01300987,
              0.018563338,
              0.0056699733,
              0.01965073,
              -0.006260272,
              -0.026951792,
              0.0049631684,
              0.0040388852,
              -0.0040000496,
              -0.0030136297,
              -0.008365152,
              -0.019976947,
              0.029017836,
              -0.0032252828,
              0.0034544119,
              0.0012194327,
              -0.02884696,
              -0.013421526,
              -0.05175987,
              -0.0044583078,
              0.0033806246,
              0.017165262,
              0.018097313,
              -0.034579072,
              0.0029650854,
              0.014633192,
              -0.005751528,
              0.0021844932,
              -0.010827319,
              0.010609841,
              -0.029017836,
              0.017258467,
              0.00898652,
              0.0338645,
              -0.038120862,
              -0.0041359738,
              -0.01015935,
              -0.009103026,
              -0.0070525147,
              -0.0020213844,
              -0.04890158,
              -0.033957705,
              -0.007895244,
              0.0016000199,
              0.024808075,
              0.02367408,
              0.028909098,
              0.007844758,
              -0.027511021,
              -0.014097263,
              0.0031010094,
              -0.0054990975,
              -0.008637001,
              -0.011262276,
              -0.034703344,
              -0.051200636,
              0.011557425,
              0.005790363,
              -0.025957605,
              0.0016019617,
              -0.029701341,
              -0.009382641,
              0.042190816,
              0.008031168,
              -0.0045631635,
              -0.022058526,
              -0.015308929,
              -0.0133982245,
              0.014446782,
              -0.042781115,
              -0.00486608,
              -0.007833107,
              -0.02314592,
              -0.018858487,
              0.0031184854,
              0.0363189,
              0.015301161,
              0.00209323,
              0.043899573,
              0.024512926,
              0.010244788,
              0.004431123,
              0.006508819,
              -0.037375223,
              0.03330527,
              -0.012621516,
              0.0072855274,
              -0.007646697,
              -0.0034466449,
              -0.020815793,
              0.010679744,
              0.026035275,
              -0.039052915,
              -0.029079974,
              -0.0041359738,
              -0.009988474,
              -0.018547803,
              -0.051822003,
              0.020800259,
              0.0017951679,
              -0.0039340295,
              -0.0069903783,
              0.03479655,
              -0.00096991495,
              0.03532471,
              0.007033097,
              -0.019635195,
              0.027868308,
              -0.010710813,
              -0.03927039,
              -0.028458606,
              -0.011984615,
              -0.023844957,
              0.007569026,
              0.015938062,
              -0.022415813,
              0.024947884,
              -0.0019165287,
              0.025476046,
              -0.010842853,
              0.0030660576,
              0.045919016,
              0.020489575,
              -0.0071845553,
              0.017258467,
              -0.015262326,
              -0.008831178,
              -0.0077554365,
              0.008528261,
              0.008419522,
              0.018221585,
              0.0029165412,
              -0.007976798,
              -0.027309077,
              -0.0017738085,
              -0.024606131,
              0.020629384,
              0.019635195,
              0.003036931,
              0.015021546,
              0.0033825664,
              -0.015642913,
              0.01823712,
              0.005161229,
              -0.0072195074,
              0.01367784,
              0.02303718,
              0.001080596,
              0.013444828,
              0.02173231,
              -0.0017485655,
              0.012481709,
              -0.03349168,
              0.022011925,
              0.0027709082,
              0.0015485629,
              0.04188013,
              0.034485865,
              0.0016388553,
              0.010516636,
              0.01805071,
              0.0012912782,
              -0.029344054,
              0.021266283,
              -0.020986669,
              -0.010136048,
              0.00024065834,
              0.018703146,
              -0.034485865,
              -0.019495388,
              0.021654638,
              0.0030388727,
              0.01898276,
              0.027184805,
              0.03249749,
              0.009724393,
              -0.0065903733,
              -0.0012378795,
              0.054959908,
              -0.042563636,
              -0.0338645,
              -0.025507113,
              -0.06437362,
              0.0053321053,
              -0.00071942643,
              0.041476242,
              -0.04492483,
              -0.038990777,
              -0.013763278,
              0.01386425,
              0.026547903,
              0.028334333,
              -0.018951692,
              0.008939917,
              0.0024893514,
              0.0019631311,
              0.02367408,
              -0.020132288,
              0.00106312,
              -0.0131419115,
              0.013941921,
              -0.016978852,
              -0.013747744,
              0.015114751,
              -0.007961264,
              0.003988399,
              -0.027402282,
              -0.028645016,
              0.009134094,
              -0.0034078094,
              -0.01442348,
              -0.008551563,
              -0.02188765,
              -0.016046802,
              0.007324363,
              -0.00481171,
              -0.0033223715,
              0.03628783
            ],
            "kb_context_text": "[1] doc=\"Access request process\" section=\"Onboarding\" score=0.441\nTo request access, submit a ticket with your email, role, and the system name. Access is granted within 1 business day.\n\n[2] doc=\"Support SLA\" section=\"Response time\" score=0.438\nWe reply within 24 hours on business days. Urgent requests are handled within 2 hours if marked as URGENT.\n\n[3] doc=\"Cancellation policy\" section=\"Refunds\" score=0.427\nYou can cancel anytime. Refunds are available within 7 days of purchase if service was not delivered.",
            "kb_sources": [
              {
                "n": 1,
                "chunk_id": "demo-support__access-request-process__0",
                "doc": "Access request process",
                "section": "Onboarding",
                "source_url": "https://example.com/access",
                "score": 0.440500884062508,
                "distance": 1.27014300352255
              },
              {
                "n": 2,
                "chunk_id": "demo-support__support-sla__0",
                "doc": "Support SLA",
                "section": "Response time",
                "source_url": "https://example.com/sla",
                "score": 0.438262295704082,
                "distance": 1.28173860677079
              },
              {
                "n": 3,
                "chunk_id": "demo-support__cancellation-policy__0",
                "doc": "Cancellation policy",
                "section": "Refunds",
                "source_url": "https://example.com/cancel",
                "score": 0.427371489689647,
                "distance": 1.33988467673918
              }
            ]
          }
        }
      ]
    },
    "versionId": "a5ee0629-95c7-4862-865d-aba1fd85e6e7",
    "activeVersionId": null,
    "versionCounter": 42,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2025-12-17T14:18:50.701Z",
        "createdAt": "2025-12-17T14:18:50.701Z",
        "role": "workflow:owner",
        "workflowId": "8GCA2MiYJ0R64Ort",
        "projectId": "Pe0kjUniwpiBd4qS",
        "project": {
          "updatedAt": "2025-11-08T09:00:59.033Z",
          "createdAt": "2025-11-08T09:00:33.514Z",
          "id": "Pe0kjUniwpiBd4qS",
          "name": "admin admin <molodoiars@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  }
]
